.venue1-button-overlay {
    opacity: 1;
    z-index: 10;
    position: relative;
    top: 15%;
    left: -5%;
}

.venue2-button-overlay {
    opacity: 1;
    z-index: 10;
}

.venue3-button-overlay {
    opacity: 1;
    z-index: 10;
    position: relative;
    left: 30%;
}

.venue4-button-overlay {
    opacity: 1;
    z-index: 10;
    position: relative;
    top: 20%;
    left: -5%;
}